<p *ngIf="(state$ | async)?.loading; else ifNotLoading"> LOADING DATA... </p>

<ng-template #ifNotLoading>
    <!--<pre>{{ (state$ | async)?.inscripciones | json }}</pre>-->
    <div class="btn-add-div">
    <button (click)="crearInscripcion()" class="add-btn">
        <span class="add-btn-span">CREATE AN INSCRIPTION</span>
    </button>
    </div>
    <ul>
        <li *ngFor="let inscripcion of (state$ | async)?.inscripciones">
            {{ inscripcion.student.name + ' - ' + inscripcion.subject.name }}
            <button (click)="eliminarInscripcionPorId(inscripcion.id)" type="button">
                delete
            </button>
        </li>
    </ul>
</ng-template>